.Education {
  .Education-Section {
    position: relative;

    &:hover {
      transform: translateY(1px);

      & .Education-Circle {
        & svg {
          animation: spin 1s linear infinite;
        }

        & > div {
          background-color: orange;
        }
      }

      & .Education-Vertical-Line {
        background-color: orange;
      }
    }
  }

  & > div > div {
    display: flex;
    gap: 15px;
  }

  & > div > div:not(:has(> div)) {
    margin-left: 35px;
  }

  & .Education-Vertical-Line {
    position: absolute;
    left: 0;
    width: 2px;
    background-color: grey;
    margin-left: 9px;
    height: 95%;
    transition: 1s;
    top: 5px;
  }

  & h2,
  p {
    margin: 5px 0;
  }

  .Education-Circle {
    background-color: #030712;
    width: 20px;
    height: 20px;
    padding: 10px 0;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;

    & svg {
      position: absolute;
    }

    & > div {
      width: 100%;
      height: 100%;
      border-radius: 100%;
      background-color: grey;
      transition: 0.5s cubic-bezier(0.19, 1, 0.22, 1);
    }
  }

  & svg {
    transition: 1s;
    color: white;
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
