.Category {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  cursor: pointer;
  transition: all 1s cubic-bezier(0.23, 1, 0.32, 1);
  max-height: 100px;

  & > div:first-child {
    display: flex;
    align-items: baseline;
    gap: 10px;

    & > p {
      opacity: 0.5;
    }
  }

  h1,
  p {
    transition: 0.2s;
  }

  & h1 {
    font-size: 5.5vw;
    margin: 0;
    white-space: nowrap;
  }

  &:hover {
    h1,
    p {
      -ms-transform: skewX(-20deg);
      transform: skewX(-20deg);
    }

    .Button {
      background-color: white;
      color: #030712;
      transform: scale(1.1);
    }
  }

  @media screen and (max-width: 768px) {
    align-items: center;
    margin-bottom: 5px;

    & > div:first-child {
      flex-direction: column;
      gap: 0;

      & p {
        margin: 0;
      }
    }
  }
}

.hideC {
  opacity: 0;
  pointer-events: none;
  max-height: 0;
}
