.Category {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  cursor: pointer;
  transition: all 1s cubic-bezier(0.23, 1, 0.320, 1);
  max-height: 100px;

  p,
  h1 {
    transition: 0.2s;
  }

  &:hover {
    p,
    h1 {
      -ms-transform: skewX(-20deg);
      transform: skewX(-20deg);
    }

    .Button {
      background-color: white;
      color: #030712;
      transform: scale(1.1);
    }
  }

  & h1 {
    font-size: 4em;
    margin: 0;
  }

  & > div:first-child {
    display: flex;
    align-items: baseline;
    gap: 10px;

    & > p {
      opacity: 0.5;
    }
  }
}

.hideC {
  opacity: 0;
  pointer-events: none;
  max-height: 0;
}
