html {
  scroll-behavior: smooth;
}

.App {
  padding: 2em 4em;

  @media screen and (max-width:600px) {
    padding: 1em 2em;
  }

  .App-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    align-items: center;
  }

  .App-component {
    transition: all 1.5s cubic-bezier(0.215, 0.61, 0.355, 1);
  }
}

a {
  color: inherit;
}

hr {
  opacity: 0.2;
}

.App-footer {
  display: flex;

  & .link {
    transition: 0.4s;
    width: fit-content;

    &:hover {
      transform: scale(1.1);
    }
  }

  & > div:first-child {
    flex: 2;
  }

  & > div:last-child {
    flex: 1;
  }

  & > div > div {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  & > div > p:first-child {
    opacity: 0.6;
    font-weight: 600;
    font-size: larger;
  }
}
