.Work {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  color: black;
  padding: 10px 25px 10px 10px;

  background: linear-gradient(to bottom left, white 50%, transparent 50%);
  background-size: 200% 200%;
  background-position: top right;
  transition: all 0.5s ease;
  border: 2px solid transparent;
  box-sizing: border-box;

  &:hover {
    background-position: bottom left;
    color: white;
    border: 2px solid white;

    & img {
      filter: invert(100%);
    }
  }

  & .Work-Link {
    transition: 0.4s all;

    &:hover {
      transform: scale(1.2);
    }
  }

  & .Work-Logo {
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;

    & img {
      width: 50px;
      height: 50px;
      object-fit: scale-down;
      transition: all 0.5s ease;
    }
  }

  & p {
    margin: 0;
  }

  img {
    width: 100px;
  }
}
