.AboutMe {
  margin: 20px 0 30px 0;
  padding: 0 50px;
  border-left: 1px solid white;

  & > p {
    width: 60%;
    font-size: 30px;
  }

  .HowPeopleSeeMe > div > div > p {
    background-color: white;
    color: black;
    border-radius: 10%;
    padding: 5px;
    width: fit-content;
  }
}
