.AboutMe {
  margin: 20px 0 30px 0;
  padding: 0 50px;
  border-left: 1px solid white;

  & > p {
    width: 60%;
    font-size: 30px;
  }

  .HowPeopleSeeMe > div > div {
    display: flex;

    & .active {
      opacity: 1;
      z-index: 1;
    }

    & > div {
      display: flex;
      opacity: 0;
      z-index: -1;
      transition: all 1s;

      & > p {
        color: white;
        border-radius: 10%;
        padding: 5px;
        width: fit-content;
        /* cursor: help; */
      }
    }

    & > h3 {
      color: black;
      padding: 30px 25px 10px 10px;
      border-radius: 5px;
      margin: 5px 0;
      /* cursor: pointer; */
    }
  }
}
