.AboutMe {
  margin: 20px 0 30px 0;
  padding: 0 50px;
  border-left: 1px solid white;

  & > p {
    width: 60%;
  }

  .HowPeopleSeeMe > div > div {
    display: flex;

    & > div {
      display: flex;
      transition: all 1s;

      & > p {
        color: white;
        border-radius: 10%;
        padding: 5px;
        width: fit-content;
      }
    }

    & > h3 {
      color: black;
      padding: 30px 25px 10px 10px;
      border-radius: 5px;
      margin: 5px 0;
    }
  }
}
